$primary: #0ea5e9;
$primary-light: #bae6fd;
$primary-dark: #075985;

$secondary: #8b5cf6;
$secondary-light: #ddd6fe;
$secondary-dark: #5b21b6;

$success: #16a34a;
$success-light: #bbf7d0;
$success-dark: #166534;

$danger: #e11d48;
$danger-light: #fecdd3;
$danger-dark: #9f1239;

$warning: #f59e0b;
$warning-light: #fef3c7;
$warning-dark: #92400e;

$light: #f8fafc;
$dark: #0f172a;

$base: #94a3b8;
$base-light: #f1f5f9;
$base-dark: #1e293b;

$custom-colors: (
    "primary-light": $primary-light,
    "primary-dark": $primary-dark,
    "secondary-light": $secondary-light,
    "secondary-dark": $secondary-dark,
    "success-light": $success-light,
    "success-dark": $success-dark,
    "danger-light": $danger-light,
    "danger-dark": $danger-dark,
    "warning-light": $warning-light,
    "warning-dark": $warning-dark,
    "base": $base,
    "base-light": $base-light,
    "base-dark": $base-dark,
);
