@mixin coloredMarker($alt, $hueVariation) {
    .leaflet-marker-icon[alt="#{$alt}"] {
        filter: hue-rotate($hueVariation);
    }
}

.track-map {
    z-index: 90;

    @media (max-width: 1200px) {
        width: 100%;
        height: 40vh;
    }

    @media (min-width: 1200px) {
        position: fixed;
        bottom: 2rem;
        left: 4rem;
        width: 40vw;
        height: 80vh;
    }

    .leaflet-marker-pane {
    
            // Green: 280deg
            // TODO: Make orange and red
            @include coloredMarker('Start marker', 280deg);
            @include coloredMarker('End marker', 220deg);
            
    }
}